﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Persona



<div>
    <h2>Los Datos de la Personas son :</h2>

    <ul>
        <li>
            <p>el nombre completo es @Model.NombreCompleto</p>
        </li>

    </ul>

</div>